Source: docker-stress
Section: non-free/net
Priority: extra
Maintainer: Daniel Norberg <dano@spotify.com>
Build-Depends: debhelper (>=8), python-all (>= 2.7)
Standards-Version: 3.7.2
X-Python-Version: >= 2.7

Package: docker-stress
Architecture: all
Depends: python, python-setuptools
Description: Spotify docker stress testing and monitoring tool

